# Byte-compiled
__pycache__/

# Vim swap
*.swp

# Omitting Logs:
*.log

# Sqlite3
*.db

# Enviroment
.env
*.sublime-project
*.sublime-workspace
.idea/
bin/
lib/
pyvenv.cfg

#libraries
*.whl
#CSV
*.csv

# Selenium
chromedriver*
venv/

wivo-mongo/